//--  Fonts --//
$bd: 'Muli Black';
$rg: 'Muli';

// -- Colors -- //

$white:   #ffffff;
$black:   #000000;
$gray:    #5D5D5D;
$gray-lt: #EDEDED;
$gray-a7: #a7a7a7;
$gray-d8: #D8D8D8;

// Brand colors
$purple:   #5B4FE9;
$blue-dk:  #0D3891;
$blue:     #1181FF;
$blue-2:   #1181FF;
$blue-lt:  #58CCED;
$blue-fb:  #3C5A99;
$yellow:   #FBE18A;
